.grid {
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  display: grid;
  position: relative;
  margin: 10vh auto 10vh;

  &.gridMobile {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .gridItem {
    position: relative;
    margin: 0;
    grid-column: var(--c) / span var(--s);
    grid-row: var(--r);

    .gridItemCaptionCustom {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      top: 0;
      width: 28vw;
      font-size: 2rem;
      height: 100%;
      align-items: center;

      p {
        font-size: 1.5rem;
      }

      &.endingText {
        position: unset;
        margin-top: 3rem;
        width: 50vw;
      }
    }

    .gridItemImg {
      position: relative;
      overflow: hidden;
      display: grid;
      place-items: center;
      width: 100%;
      height: auto;
      aspect-ratio: var(--img-ratio);
    }

    .gridItemCaption {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      h3 {
        font-weight: bold;
        font-size: inherit;
        margin: 0;
        color: var(--color-title);
      }

      span {
        font-weight: bold;
        color: var(--color-year);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    margin: 5vh auto 5vh;
    grid-template-columns: repeat(8, 1fr);

    &.gridDesktop {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    &.gridMobile {
      opacity: 1;
      visibility: visible;
      display: grid;
    }

    .gridItem {
      &.gridItemText {
        margin: 3rem 0;
      }

      .gridItemCaptionCustom {
        &.mobileCaption {
          width: calc(100vw - 2 * var(--padding-side));
          position: unset;
        }

        &.endingText {
          margin-top: 0;
          width: calc(100vw - 2 * var(--padding-side));
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .grid {
    .gridItem {
      .gridItemCaptionCustom {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
