.pageHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9.5rem;

  h1 {
    font-size: 4.5rem;
    max-width: 23rem;
  }

  .archicraftLogo {
    position: relative;
    width: 97px;
    height: 45px;
    margin-top: 1rem;
  }
}

.mobileWrapper {
  display: none;
}

.desktopWrapper {
  .clientInfoWrapper {
    &.clientMainInfo {
      margin-top: 5.5rem;
    }

    .innerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(.mainInfo) {
        font-size: 1.25rem;
        font-weight: 300;
        opacity: 0.5;
        text-transform: uppercase;
      }

      &:first-of-type {
        border-bottom: 1px solid #fff;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
      }

      &.mainInfo {
        font-size: 1.5rem;
      }

      .socialsShareWrapper {
        display: flex;
        gap: 2.5rem;

        a {
          color: #e9e9e9;
        }
      }
    }
  }
}

.endingText {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 30vw;
  font-size: 2rem;
  height: 100%;
  align-items: center;

  p {
    font-size: 1.5rem;
  }
}

.adjacentProjects {
  display: flex;
  --gap: 1.5rem;
  gap: var(--gap);
  margin: 70px 0 28px;
}

.adjacentProject {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  border-radius: 30px;
  width: 100%;
  height: 333px;
  transition: background-color 0.3s ease;
  max-width: calc(50% - var(--gap) / 2);

  &:hover {
    background-color: #e6e6e6;

    & > a {
      > span {
        &:first-of-type {
          color: #000;
        }
      }

      h3 {
        color: #000;
      }
    }
  }

  & > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      &:first-of-type {
        color: rgba(255, 255, 255, 0.5);
        font-size: 27px;
        line-height: 37px;
        position: absolute;
        top: 30px;
      }
    }
  }

  &.next {
    margin-left: auto;

    h3 {
      margin-right: auto;
      padding-right: 150px;
    }

    .adjacentPostArrow {
      right: 67px;
    }

    & > a {
      & > span {
        &:first-of-type {
          left: 3rem;
        }
      }
    }
  }

  &.prev {
    h3 {
      padding-left: 150px;
      margin-left: auto;
    }

    .adjacentPostArrow {
      left: 67px;

      svg {
        transform: rotate(180deg);
      }
    }

    & > a {
      & > span {
        &:first-of-type {
          right: 3rem;
        }
      }
    }
  }

  h3 {
    color: #e6e6e6;
    text-transform: uppercase;
    padding-top: 0.5rem;
    transition: color 0.3s ease;
    padding: 3rem;
  }

  .adjacentPostArrow {
    background-color: #000000;
    border-radius: 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  .pageHeader {
    padding-bottom: 4rem;
    padding-left: 0;

    h1 {
      font-size: 3.5rem;
    }

    .archicraftLogo {
      width: 76px;
      height: 36px;
      min-width: 76px;
      min-height: 36px;
    }
  }

  .adjacentProjects {
    --gap: 1rem;
    margin: 0.5rem 0 0;
  }

  .adjacentProject {
    padding: 18px 18px 20px;
    height: 266px;
    border-radius: 15px;
    aspect-ratio: 186 / 133;

    & > a {
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      & > span {
        &:first-of-type {
          position: unset;
          order: 3;
        }
      }
    }

    &.next {
      & > a {
        align-items: end;
      }
    }

    .adjacentPostArrow {
      width: 3.75rem;
      height: 3.75rem;
      padding: 1rem 18px 1rem 20px;
      position: unset;
      order: 1;
    }

    h3 {
      order: 2;
      padding: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    &.next,
    &.prev {
      h3 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .pageHeader {
    padding-bottom: 2.5rem;

    h1 {
      font-size: 2.75rem;
    }

    .archicraftLogo {
      width: 61px;
      height: 30px;
      min-width: 61px;
      min-height: 30px;
      margin-top: 0.65rem;
    }
  }

  .desktopWrapper {
    display: none;
  }

  .mobileWrapper {
    display: block;
    margin-top: 1rem;

    .clientInfoWrapper {
      .innerWrapper {
        &:not(:first-of-type) {
          margin-top: 3rem;
        }

        p {
          font-weight: 300;
          &:first-of-type {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
            padding-bottom: 1rem;
          }

          &:last-of-type {
            font-size: 1rem;
            margin-top: 1rem;
          }
        }

        .socialsShareWrapper {
          margin-top: 1rem;
          display: flex;
          gap: 1.75rem;

          a {
            color: #e9e9e9;
          }
        }
      }
    }
  }

  .adjacentProjects {
    --gap: 0.5rem;
  }

  .adjacentProject {
    padding: 10px 10px 13px;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 1;

    h3 {
      font-size: 1rem;
    }

    &.prev {
      h3 {
        text-align: start;
      }
    }

    &.next {
      h3 {
        text-align: end;
      }
    }

    & > a {
      & > span {
        &:first-of-type {
          font-size: 12px;
          line-height: 21px;
        }
      }
    }

    .adjacentPostArrow {
      border-radius: 15px;
      width: 2.75rem;
      height: 2.75rem;
      padding: 13px 1rem 13px 18px;
    }
  }
}
