:root {
  --menu__font-size: clamp(5em, 7.5vw, 9.2em);
  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
  --animation-smooth: 0.7s cubic-bezier(0.5, 0.5, 0, 1);

  --padding-side: 8.85vw;
  --color-main: #eebf9e;

  /* connected grid */
  --img-ratio: 1.5;
  --s: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-gilroy);
  font-weight: 400;
}

body {
  background-color: #202020;
  color: #fff;
  position: relative;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}

.main {
  padding: 19rem var(--padding-side) 13rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --padding-side: 4rem;
  }

  .main {
    padding: 13.5rem var(--padding-side) 9rem;
  }
}

@media screen and (max-width: 680px) {
  :root {
    --padding-side: 1.25rem;
  }

  .main {
    padding: 7.5rem var(--padding-side) 3rem;
  }
}
