.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem var(--padding-side);
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.5) 12%, rgba(255, 255, 255, 0) 100%);

  &.down {
    opacity: 0;
    visibility: hidden;
  }

  &.up {
    opacity: 1;
    visibility: visible;
  }

  .logoWrapper {
    position: relative;
    width: 243px;
    height: 44px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 680px) {
  .header {
    padding: 2rem 1.5rem;

    .logoWrapper {
      width: 147.5px;
      height: 27px;
    }
  }
}
