.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5.75rem 1rem;
  background-color: transparent;
  position: fixed;
  width: 100%;

  .logoWrapper {
    position: relative;
    width: 243px;
    height: 44px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 680px) {
  .header {
    padding: 2rem 1.5rem;

    .logoWrapper {
      width: 147.5px;
      height: 27px;
    }
  }
}
