.footerMenu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      text-transform: uppercase;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;

        & ~ * {
          opacity: 0.3;
        }
      }

      &:has(~ *:hover) {
        opacity: 0.3;
      }
    }
  }
}
